<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--environment DEV SIT UAT PET SIM PRD-->
    <add key="environment" value="DEV"/>
  </appSettings>
  <connectionStrings>
    <add name="WcsDatabase" providerName="Oracle" connectionString="user id=wcs_watson;password=wcs_watson;data source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521)) (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = orcl)))"/>

  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <!-- 以下需要手工添加-->
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!-- 以上需要手工添加-->
    </behaviors>
    <services>
      <service name="WCF.Service">
        <!-- binding 值需要改为webHttpBinding 并增加 behaviorConfiguration="webBehavior"-->
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="WCF.IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>